{% extends "admin/recipes/adm.njk" %}

{% block content %}

    <div class="alert">
        <div class="success-lottie"></div>
        <div class="info">
            <h2><span id="itemDeleted">{{itemDeleted}}</span> com sucesso!</h2>
        </div>
    </div>

    <script src="/js/lottie.min.js"></script>

    <script>
        const element = document.querySelector(".success-lottie");

        lottie.loadAnimation({
            container: element, 
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/img/77903-loading-sucesso.json' 
        });

        let itemDeleted = document.querySelector(".info h2 #itemDeleted").textContent;
        itemDeleted = itemDeleted.split(" ");
        
        const redirectPage = itemDeleted[0] === "Receita" ? "recipes" : "chefs";

        setTimeout(function(){
        window.location = `/admin/${redirectPage}`}, 2800);
        
    </script>
{% endblock %}
