{% extends "admin/recipes/adm.njk" %}

{% block head %}
    <title>Foodfy - Recipe</title>
    <link rel="stylesheet" href="/style/chefs.css">
    <link rel="stylesheet" href="/style/modal_delete.css">
{% endblock %}

{% block content %}                       

    <div id="modal" class="active">
        <div class="content">
            <div class="success-lottie"></div>            
            <h1>Receita deletada com sucesso!</h1>
        </div>
    </div>

    <script src="/js/lottie.min.js"></script>    
    
    <script>

        const element = document.querySelector(".success-lottie");

        lottie.loadAnimation({
            container: element, 
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/img/77903-loading-sucesso.json' 
        });

        setTimeout(function(){
        window.location = "/admin/recipes"}, 2500);
        
    </script>

{% endblock %}  