{% extends "admin/recipes/adm.njk" %}

{% block head %}
    <title>Foodfy - ADM</title>
{% endblock head %}

{% block content %}

    <div class="detailsRecipe">
        <h2>Receita: {{recipe.title}} </h2>
        {% if recipe.user_id === userSession.id  or userSession.is_admin === true %}
            <a class="buttonform" href="/admin/recipes/{{recipe.id }}/edit">Editar receita</a>
        {% endif %}
    </div>
    
    <div class="img-recipe">
        <img src="{{imageFeatured}}" alt="{{recipe.title}}">

        <div class="gallery-preview">

            {% for image in files %}
                <div class="images-gallery" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="ImageGallery.setImage(event)">
                    <img 
                        src="{{image.src}}"  
                        alt="{{image.name}}"                         
                    >
                </div> 
            {% endfor %}           
            
        </div>
    </div>

    <div class="info-recipe">
        <h1>{{recipe.title}}</h1>
        <span class="chef-recipe">por {{recipe.chef_name}}</span>
    </div>

    <div class="ingredientes">
        <h2>Ingredientes</h2>                
    </div>
    <div class="detalheReceita">
        <ul class="lista-ingredientes">

            {% for item in recipe.ingredients %}
                <li>{{item}}</li>
            {% endfor %}
    
        </ul>
    </div>
    


    <div class="modoPreparo">
        <h2>Modo de preparo</h2>
    </div>
    <div class="detalheReceita">
        <ol class="passosPreparo">
            {% for item in recipe.preparation %}
                <li>{{item}}</li>
            {% endfor %}
        </ol>
    </div>


    <div class="info-adicional">
        <h2>Informações adicionais</h2>
    </div>
    <div class="detalheReceita">
        <div class="add-recipe">
            <p>{{recipe.information}}</p>
        </div>        
    </div>

    <script src="/js/script-foodfy.js"></script>
    <script src="/js/selection_images.js"></script>

{% endblock %}