{% extends "visitors/layout.njk" %}

    {% block head %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

    {% block content %}
        
            <article class="intro">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                <img class="photo-chef" src="img/chef.png" alt="ilustração de um chef de cozinha">
            </article>

            <h2>Mais acessadas</h2>

            <div class="galeria-receitas">
            
                {% for item in items %}
                    <div class="receita">
                        <div class="img-prato">
                            <img src={{item.imageFeatured}} alt="{{item.title}}">
                        </div>

                        <div class="info-prato">
                            <h3>{{item.title}}</h3>
                            <span class="info-chef">por {{item.chef_name}}</span>
                        </div>
                    </div>
                {% endfor %}

                <script src="/js/script-foodfy.js"></script>
            </div>

            <div class="modalOverlay active">
                <div class="modal">
                    <div class="modal-img-recipe">
                        <img src="../../../../images/1614041942870-yakissoba.jpg" alt="yakissoba">
                    </div>
                    <div class="modal-information">
                        <h3>Nome da receita</h3>
                        <p>
                            por Juca Alves
                        </p>
                        <div class="btn-modal">
                            <a href="#">detalhes</a>
                        </div>
                    </div>

                    <div class="close-modal">
                        <span class="material-icons-outlined">fechar</span>
                    </div>
                </div>
            </div>
                    
   {% endblock %}